/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input, textarea, select {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

.emoji-reactions {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#feedback-result {
    margin-top: 20px;
    text-align: left;
}
.thank-you-message {
    margin-top: 20px;
    color: #28a745;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}